<html>
<head>
    <title> New File</title>
</head>
<div>
    <button><a href="{% url 'index' %}" target="blank">GO To Home</a></button>
    <button><a href="{% url 'create' %}">Short more</a></button>
</div>
<body>


{% for obj in objs %}
    <h2>{{ obj.long_url }}</h2>
    <a href="{% url 'redirect' obj.shortcode %}" target="_blank">http://127.0.0.1:8000/{{ obj.shortcode }}</a>
    <h2>{{ obj.created_date }}</h2>
    {% if request.user.is_authenticated %}
        <button><a href="{% url 'update' obj.pk %}">Edit</a></button>
        <button><a href="{% url 'delete' obj.pk %}">Delete</a></button>
    {% endif %}
    <hr>
{% endfor %}
</body>
</html>